body {
  background: #c7ebfa;
  font-family: "Barlow", sans-serif;
  font-style: normal;
}
header {
  padding: 15px 20px;
  font-size: 30px;
  font-size: 15px;
}
.weather-hq {
  background: #e5f5f8;
  max-width: 600px;
  width: 200%;
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Barlow", sans-serif;
}
.search-form-input {
  background-color: white;
  border: #12495a solid;
  border-radius: 5px;
  width: 60%;
  padding: 15px 20px;
  font-size: 15px;
}
.search-form-button {
  background: #12495a;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin-left: 5px;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.icon {
  text-align: center;
  scale: (2);
}
h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-top: 0;
}
p {
  text-align: center;
}
form {
  text-align: center;
}
footer {
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}
a {
  color: #12495a;
}
.humidity {
  color: #f65282;
  font-weight: 600;
}
.wind {
  color: #f65282;
  font-weight: 600;
}
.weather-forecast {
  margin-top: 20px;
}
.weather-forecast-date {
  font-size: 16px;
  color: #12495a;
}
.day-of-forecast {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  font-weight: 500;
}
.weather-forecast-temperature {
  font-size: 18px;
}
.weather-forecast-temperature-max {
  font-weight: 500;
}
